In [1]:
# Numopy -> Matrix Manipulation
# Pandas -> Data Manipulation

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#Creating a dataframe
df=pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D']) #10x4
print (df)

          A         B         C         D
0  0.462348  0.579890  0.462732  0.433464
1  0.439203  0.426858  0.459806  0.693949
2  0.432445  0.339805  0.050225  0.234585
3  0.875305  0.351708  0.006118  0.111247
4  0.513662  0.450084  0.915431  0.055342
5  0.687862  0.391758  0.892562  0.067043
6  0.447028  0.074731  0.888034  0.430423
7  0.964892  0.673234  0.303073  0.802451
8  0.112915  0.208204  0.616488  0.775817
9  0.838497  0.041456  0.436309  0.144116

In [5]:
#Creating a dataframe with dictionary
df2=pd.DataFrame({'A' : [10,20], 'B' : [20,100], 'C' : [30,40], 'D' : [40,50]})
print (df2)

    A    B   C   D
0  10   20  30  40
1  20  100  40  50

In [6]:
#Looking at the variable types
df2.dtypes

A    int64
B    int64
C    int64
D    int64
dtype: object

In [7]:
#looking at the top few values, default 5
df.head()

          A         B         C         D
0  0.462348  0.579890  0.462732  0.433464
1  0.439203  0.426858  0.459806  0.693949
2  0.432445  0.339805  0.050225  0.234585
3  0.875305  0.351708  0.006118  0.111247
4  0.513662  0.450084  0.915431  0.055342

In [8]:
#looking at the last few values
df.tail()

          A         B         C         D
5  0.687862  0.391758  0.892562  0.067043
6  0.447028  0.074731  0.888034  0.430423
7  0.964892  0.673234  0.303073  0.802451
8  0.112915  0.208204  0.616488  0.775817
9  0.838497  0.041456  0.436309  0.144116

In [9]:
#to get the indexes
df.index

RangeIndex(start=0, stop=10, step=1)

In [15]:
#to get the column names
df.columns
# df.rows is invalid

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
#to get the values
df.values

array([[0.46234796, 0.57989015, 0.4627323 , 0.43346396],
       [0.43920309, 0.42685774, 0.45980631, 0.69394935],
       [0.43244479, 0.33980472, 0.05022519, 0.23458533],
       [0.87530472, 0.35170752, 0.00611839, 0.11124747],
       [0.51366222, 0.45008404, 0.91543064, 0.05534199],
       [0.68786151, 0.39175771, 0.89256221, 0.06704308],
       [0.44702793, 0.07473098, 0.88803391, 0.43042255],
       [0.96489219, 0.67323435, 0.30307276, 0.80245141],
       [0.11291537, 0.20820409, 0.61648784, 0.77581739],
       [0.83849657, 0.04145632, 0.43630946, 0.14411574]])

In [12]:
#to get quick statistics about the data
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.577416   0.353773   0.503078   0.374844
std     0.260219   0.201671   0.330453   0.296497
min     0.112915   0.041456   0.006118   0.055342
25%     0.441159   0.241104   0.336382   0.119465
50%     0.488005   0.371733   0.461269   0.332504
75%     0.800838   0.444277   0.820147   0.628828
max     0.964892   0.673234   0.915431   0.802451

In [16]:
#for sorting the index
df.sort_index(axis=0, ascending =False)

          A         B         C         D
9  0.838497  0.041456  0.436309  0.144116
8  0.112915  0.208204  0.616488  0.775817
7  0.964892  0.673234  0.303073  0.802451
6  0.447028  0.074731  0.888034  0.430423
5  0.687862  0.391758  0.892562  0.067043
4  0.513662  0.450084  0.915431  0.055342
3  0.875305  0.351708  0.006118  0.111247
2  0.432445  0.339805  0.050225  0.234585
1  0.439203  0.426858  0.459806  0.693949
0  0.462348  0.579890  0.462732  0.433464

In [17]:
#For sorting by a column
df.sort_values(by='A')

          A         B         C         D
8  0.112915  0.208204  0.616488  0.775817
2  0.432445  0.339805  0.050225  0.234585
1  0.439203  0.426858  0.459806  0.693949
6  0.447028  0.074731  0.888034  0.430423
0  0.462348  0.579890  0.462732  0.433464
4  0.513662  0.450084  0.915431  0.055342
5  0.687862  0.391758  0.892562  0.067043
9  0.838497  0.041456  0.436309  0.144116
3  0.875305  0.351708  0.006118  0.111247
7  0.964892  0.673234  0.303073  0.802451

# Selecting Values

In [19]:
#Selecting Columns
df['A']

0    0.462348
1    0.439203
2    0.432445
3    0.875305
4    0.513662
5    0.687862
6    0.447028
7    0.964892
8    0.112915
9    0.838497
Name: A, dtype: float64

In [20]:
#Selecting range of rows
df[0:2]

          A         B         C         D
0  0.462348  0.579890  0.462732  0.433464
1  0.439203  0.426858  0.459806  0.693949

In [21]:
#Selecting a particular row
df.loc[0]

A    0.462348
B    0.579890
C    0.462732
D    0.433464
Name: 0, dtype: float64

In [22]:
#Selecting a row and column
df.loc[0,['A']] # Selecting a particular value

A    0.462348
Name: 0, dtype: float64

In [23]:
df.loc[:,['A']]

          A
0  0.462348
1  0.439203
2  0.432445
3  0.875305
4  0.513662
5  0.687862
6  0.447028
7  0.964892
8  0.112915
9  0.838497

In [24]:
#Using at instead for faster access, can't be used for a range
df.at[0,'A'] #Not Important

0.4623479595053781

In [25]:
#Selecting by position
df.iloc[0]

A    0.462348
B    0.579890
C    0.462732
D    0.433464
Name: 0, dtype: float64

In [26]:
#Selecting by condition
df[df.A>0]

          A         B         C         D
0  0.462348  0.579890  0.462732  0.433464
1  0.439203  0.426858  0.459806  0.693949
2  0.432445  0.339805  0.050225  0.234585
3  0.875305  0.351708  0.006118  0.111247
4  0.513662  0.450084  0.915431  0.055342
5  0.687862  0.391758  0.892562  0.067043
6  0.447028  0.074731  0.888034  0.430423
7  0.964892  0.673234  0.303073  0.802451
8  0.112915  0.208204  0.616488  0.775817
9  0.838497  0.041456  0.436309  0.144116

# Missing Data

In [27]:
df2=df[df<.5]
print(df2)

          A         B         C         D
0  0.462348       NaN  0.462732  0.433464
1  0.439203  0.426858  0.459806       NaN
2  0.432445  0.339805  0.050225  0.234585
3       NaN  0.351708  0.006118  0.111247
4       NaN  0.450084       NaN  0.055342
5       NaN  0.391758       NaN  0.067043
6  0.447028  0.074731       NaN  0.430423
7       NaN       NaN  0.303073       NaN
8  0.112915  0.208204       NaN       NaN
9       NaN  0.041456  0.436309  0.144116

In [28]:
#Drop all rows which have NaN
df2.dropna()

          A         B         C         D
2  0.432445  0.339805  0.050225  0.234585

In [29]:
#Replace NaN with other values
df2.fillna(value=1)

          A         B         C         D
0  0.462348  1.000000  0.462732  0.433464
1  0.439203  0.426858  0.459806  1.000000
2  0.432445  0.339805  0.050225  0.234585
3  1.000000  0.351708  0.006118  0.111247
4  1.000000  0.450084  1.000000  0.055342
5  1.000000  0.391758  1.000000  0.067043
6  0.447028  0.074731  1.000000  0.430423
7  1.000000  1.000000  0.303073  1.000000
8  0.112915  0.208204  1.000000  1.000000
9  1.000000  0.041456  0.436309  0.144116

# Stastical Operations

In [30]:
#Taking mean
df.mean()

A    0.577416
B    0.353773
C    0.503078
D    0.374844
dtype: float64

In [31]:
# Mean in other Axis
df.mean(1) # Selecting 0 for Rows and 1 for Columns

0    0.484609
1    0.504954
2    0.264265
3    0.336095
4    0.483630
5    0.509806
6    0.460054
7    0.685913
8    0.428356
9    0.365095
dtype: float64

In [32]:
# read_csv and to_csv functions are used to read csv data and write to csv data respectively

In [35]:
data = pd.read_csv("path.csv") # Reads the path 's csv file and store it in data variable
# Note : Only Backslashes '\' are allowed or Double Forward Slashes are allowed '//'

FileNotFoundError: [Errno 2] File b'D:/abcd.csv' does not exist: b'D:/abcd.csv'